<div class="container">
  <h1>Welcome to Post Secret</h1>
  <p>shhhh it's a secret...</p>

<nav>
      <ul>
        <li><a href="/new_post">Create</a></li>
        <li><a href="#">Find</a></li>
        <li><a href="#">Edit</a></li>
      </ul>
      <br clear="all">
    </nav>

<%if @posts%>
<% @posts.each do |post| %>

<a href="/post/<%=post.id%>"><h3><%= post.title %></h3></a>
<p><%= post.body %></p>

<% if post.tags%>
<ul>
<% post.tags.each do |tag| %>
  <li><%= tag.name %></li>
  <% end %>
</ul>
<% end %> 

<% end %>
<% end %>


</div>
