<div class="container"> 

<h3>Add your own secret <3</h3>

<form id="new_post" action="/new_post" method="post" >
  <input type="text" name="title" placeholder="Title">
  <br>
  <TEXTAREA NAME="comments" COLS=40 ROWS=6></TEXTAREA>
  <br>
  <input type="text" name="tags" placeholder="Tags, Tags, Tags">
  <input type="submit" value="Post Secret">
</form>


</div>